
.about_us{
    border-radius: 2rem;
    margin: 1rem;
    border: #282c34 solid 4px;
  }

  .location h4 svg{
    position: relative;
  }
  
  .location{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .location div{
    width: 33%;
  }
  
  .location div p{
    display: none;
  }
  
  .location div p:hover{
    display: block;
  }

  p{
    display: none;
  }